Content-Type: text/html; charset=utf-8

<%
require 'cgi'
require 'fileutils'
load 'common.rb'

$date = nil
$upid = nil
$ths = nil

def init()
	cgi = CGI.new
	$date = cgi['date'].gsub(/[\D]/, '') if cgi.has_key?('date')
	$upid = cgi['upid'].gsub(/[^_\d]/, '') if cgi.has_key?('upid')

	pat = sprintf(Const::TH_FILES, $date)
	$ths = Dir::glob(pat).sort!
end

def upload()
	srcfile = sprintf(Const::PIC_FILE, $date, $upid)
	dstfile = sprintf(Const::UP_FILE, $upid)
	FileUtils.cp(srcfile, dstfile)
end

init()
%>

<!DOCTYPE html>

<html>

<head>
<meta charset="utf-8"/>
<title>Pictures</title>
</head>

<body>
<h1>Pictures</h1>

<%
if $upid
	upload()
%>
<p>Uploaded.</p>
% end

<%
$ths.each do |th|
	datetime = th.match(Const::TH_PATTERN)[1]
	file = sprintf(Const::PIC_FILE, $date, datetime)
%>
<p>
	<a href="<%= file %>"><%= file %>
		<img src="<%= th %>" alt="<%= datetime %>"/>
	</a>
	<%= file %>
	<form action="" method="get">
		<input type="hidden" name="date" value="<%= $date %>"/>
		<input type="hidden" name="upid" value="<%= datetime %>"/>
		<input type="submit" value="Upload"/>
	</form>
</p>
% end

<hr>

<footer>
  <p>
    <a href="http://validator.w3.org/check?uri=referer">
      <img src="W3C_HTML5_certified.png" alt="HTML5 validate" width="80"/>
    </a>
  </p>
</footer>
</body>

</html>
